<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Declare Website encoding -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Header -->
    <title>#Events Login</title>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- General Style -->
    <style>
        a:link {text-decoration:none; color: #000000}    /* unvisited link */
        a:visited {text-decoration:none; color: #000000} /* visited link */
        a:hover {text-decoration:none; color: #000000}   /* mouse over link */
        a:active {text-decoration:none; color: #000000}  /* selected link */
    </style>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- cuztomized css -->
    <link rel="stylesheet" type="text/css" href="homepage.css">
</head>

<body>
    
    <div id="global-contents">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-dark">
            <!-- brand icon -->
            <h3><a class="navbar-brand" href="/">#Events</a></h3>

            <!-- Collapse toggle button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible Navigation Bar -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <!-- Navigation bar contents -->
                <ul class="navbar-nav">
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar items -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">TODO</a> <!-- TODO -->
                    </li>
                    
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar items -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">TODO</a><!-- TODO -->
                    </li>
                    
                    <!-- Login content -->
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar dropdown menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            My Account
                        </a>
                        <!-- Dropdown menu items -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item">TODO</a> <!-- TODO --> <!-- My profile -->
                            <a class="dropdown-item">TODO</a> <!-- TODO --><!-- Settings -->
                            <a class="dropdown-item" href="/logout">Log out</a> <!-- TODO --><!-- Log out -->
                        </div>
                    </li>
                    
                    <!-- Not Login content -->
                    <!-- Whitespace & Separator -->
                        <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>

                        <!-- Navigation bar items -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"><strong><i class="fa fa-address-card"></i> Log in</strong></a>
                        </li>

                        <!-- Whitespace & Separator -->
                        <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>

                        <!-- Navigation bar items -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}"><strong><i class="fa fa-id-badge"></i> Register Now!</strong></a><!-- TODO -->
                        </li>
                    
                </ul>
            </div>
        </nav>
    </div>
    <br />

    <!-- carousel -->
    <div class = "container">
    <div id="recommended" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <!-- First carousel item -->
            <li data-target="#recommended" data-slide-to="0" class="active"></li>
            <!-- Second carousel item -->
            <li data-target="#recommended" data-slide-to="1"></li>
            <li data-target="#recommended" data-slide-to="2"></li>
            <li data-target="#recommended" data-slide-to="3"></li>
            
        </ul>

        <div class="carousel-inner" role = "listbox">
        <!-- First carousel item -->
                    <div class="carousel-item active">
                        <!-- insert event page -->
                            <div id="event-card" style="text-align:center">
                                <img src= "homepagePics/display.jpg" alt ="photo not found" style="width: 100%;">
                                <div class = "carousel-caption">
                                        <h1>Find your events at UNC</h1>
                                <span>
                                <h4>First title - Jan 26th, 2020</h4>
                                <p>This is a test for the first event item.</p>
                            </span>
                                </div>
                        </div>
                    </div>
                <!-- Second carousel item-->
                    <div class="carousel-item">
                        <div id="event-card" style="text-align:center">
                            <img src= "homepagePics/board1.jpg" alt ="photo not found" style="width: 100%;">
                                <div class = "carousel-caption">
                                        <h1>Men's Basketball vs. Duke</h1>
                            <span>
                                <h4>6:30 pm, Feb 8th, 2020</h4>
                                <p>Dean Dome</p>
                            </span>
                        </div>
                    </div>
        </div>
                <!-- Third carousel item-->
                    <div class="carousel-item">
                        <div id="event-card" style="text-align:center">
                            <img src= "homepagePics/board2.jpg" alt ="photo not found" style="width: 100%;">
                                <div class = "carousel-caption">
                                        <h1>Jazz Combo</h1>
                            <span>
                                <h4>7 pm, Feb 10th, 2020</h4>
                                <p>UNC Department of Music</p>
                            </span>
                        </div>
                    </div>
        </div>
                <!-- Fourth carousel item-->
                    <div class="carousel-item">
                        <div id="event-card" style="text-align:center">
                            <img src= "homepagePics/board3.jpg" alt ="photo not found" style="width: 100%;">
                                <div class = "carousel-caption">
                                        <h1>Men's Footbal vs. Miami</h1>
                            <span>
                                <h4>8:00 pm, Sep 7th, 2020</h4>
                                <p>Kenan Memorial Stadium</p>
                            </span>
                        </div>
                    </div>
        </div>
            
            
        <a class="carousel-control-prev" href="#recommended" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#recommended" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
        </div>
    </div>
    
    <!-- footer -->
    <footer>
        <div class="container">
            <p>#heelEvents
        </div>
        
    </footer>

    
    <!-- Display for login users-->
    <div id="login-specific">
    </div>
    <!-- Display for non-login users-->
    <div id="non-login-user">
    </div>
        
</body>

