.navbar{
    background-color: #99badd;
}

.carousel-indicators li {
  display: flex;
  width: 5vw;
  height: 0.8vw;
  margin: 0.4vw;
  cursor: pointer;
  background-color: rgba(255,255,255,0.5);
  border: 0px;
  border-radius: 0px;
}

.carousel-indicators li.active{
    display: flex;
  width: 5vw;
  height: 0.8vw;
  margin: 0.4vw;
    background-color: white;
  cursor: pointer;
  border-radius: 0px;
}

footer{
    position: sticky;
    bottom: 0;
    background-color: #685A52;
    color: white;
    z-index: 99;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1em;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}
footer p i{
    padding-left: 10px;
}


