<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Declare Website encoding -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Header -->
    <title>#Events Login</title>
    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- General Style -->
    <style>
        a:link {text-decoration:none; color: #000000}    /* unvisited link */
        a:visited {text-decoration:none; color: #000000} /* visited link */
        a:hover {text-decoration:none; color: #000000}   /* mouse over link */
        a:active {text-decoration:none; color: #000000}  /* selected link */
    </style>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- cuztomized css -->
    <link rel="stylesheet" type="text/css" href={% static 'hub/homepage.css' %}>
    {% comment %} <link rel="stylesheet" type="text/css" href="homepage.css"> {% endcomment %}
</head>

<body>
    
    <div id="global-contents">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-dark">
            <!-- brand icon -->
            <h3><a class="navbar-brand" href="/">#Events</a></h3>

            <!-- Collapse toggle button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible Navigation Bar -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <!-- Navigation bar contents -->
                <ul class="navbar-nav">
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar items -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Explore All Tags</a> <!-- TODO -->
                    </li>
                    
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar items -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">TODO</a><!-- TODO -->
                    </li>
                    
                    <!-- Login content -->
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    {% if login %}
                    
                    <!-- Navigation bar dropdown menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            My Account
                        </a>
                        <!-- Dropdown menu items -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item"><i class="fa fa-id-badge"></i> My Profile</a> <!-- TODO --> <!-- My profile -->
                            <a class="dropdown-item"><i class="fa fa-gears"></i> Settings</a> <!-- TODO --><!-- Settings -->
                            <a class="dropdown-item" href="/logout"><i class="fa fa-mail-forward"></i> Log out</a> <!-- TODO --><!-- Log out -->
                        </div>
                    </li>
                    {% else %}
                    <!-- Not Login content -->
                    <!-- Whitespace & Separator -->
                        <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>

                        <!-- Navigation bar items -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"><strong><i class="fa fa-address-card"></i> Log in</strong></a>
                        </li>

                        <!-- Whitespace & Separator -->
                        <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>

                        <!-- Navigation bar items -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}"><strong><i class="fa fa-id-badge"></i> Register Now!</strong></a><!-- TODO -->
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <br />

    <!-- carousel -->
    <div class = "container">
    <div id="recommended" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <!-- First carousel item -->
            <li data-target="#recommended" data-slide-to="0" class="active"></li>
            <!-- Second carousel item -->
            <li data-target="#recommended" data-slide-to="1"></li>
            <li data-target="#recommended" data-slide-to="2"></li>
            <li data-target="#recommended" data-slide-to="3"></li>
            
        </ul>

        
        <div class="carousel-inner" role = "listbox">
        <!-- First carousel item -->
                    <div class="carousel-item active">
                        <!-- insert event page -->
                            <div id="event-card" style="text-align:center">
                                <img src= "{% static 'hub/pictures/display.jpg' %}" alt ="photo not found" style="width: 100%;">
                                <div class = "carousel-caption">
                                        <h1>Find your events at UNC</h1>
                                <span>
                                <h4>#Events</h4>
                                <p>Powered by Django</p>
                            </span>
                                </div>
                        </div>
                    </div>
                    {% for event in events %}
                    <div class="carousel-item">
                        <a href="/detail/{{ event.event_id }}">
                            <div id="event-card" style="text-align:center">
                                <img src= "{{ event.poster.url }}" alt ="photo not found" style="width: 100%;">
                                <div class = "carousel-caption">
                                    <h1>{{ event.name }}</h1>
                                    <span>
                                        <h4>{{ event.get_time }}</h4>
                                        <p>{{ event.location }}</p>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                <!-- Second carousel item-->
                    
                
                
        </div>
            
        <a class="carousel-control-prev" href="#recommended" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#recommended" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
        </div>
    </div>

    <!-- categories -->
        <section class="supporting">
        <div class="container">
        <div class="row">
            <div class="col">
                <i class="fa fa-book fa-2x" aria-hidden="true"></i>
                <h2>Academic</h2>
                <p>Academic Related Events</p>
                <a href="#"> EXPLORE</a><br>
            </div>

            <div class="col">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                <h2>Club</h2>
                <p>Clubs & Extra Curriculum</p>
                <a href="#"> EXPLORE </a><br>
            </div>

            <div class="col">
                <i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i>
                <h2>Career</h2>
                <p>Job Opportunities</p>
                <a href="#"> EXPLORE</a><br>
            </div>
        </div>
        </div>
    </section>    

    <!-- footer -->
    <footer>
        <div class="container">
            <p>#heelEvents
        </div>
        
    </footer>

    
    <!-- Display for login users-->
    <div id="login-specific">
    </div>
    <!-- Display for non-login users-->
    <div id="non-login-user">
    </div>
        
</body>

