<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Declare Website encoding -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Header -->
    <title>#Events Login</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% load staticfiles %}

    <!-- General Style -->
    <style>
        a:link {text-decoration:none; color: #000000}    /* unvisited link */
        a:visited {text-decoration:none; color: #000000} /* visited link */
        a:hover {text-decoration:none; color: #000000}   /* mouse over link */
        a:active {text-decoration:none; color: #000000}  /* selected link */
    </style>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <div id="global-contents">
        <nav class="navbar navbar-expand-md bg-primary navbar-dark">
            <!-- brand icon -->
            <h3><a class="navbar-brand" href="/">#Events</a></h3>

            <!-- Collapse toggle button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible Navigation Bar -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <!-- Navigation bar contents -->
                <ul class="navbar-nav">
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar items -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">TODO</a> <!-- TODO -->
                    </li>
                    
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar items -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">TODO</a><!-- TODO -->
                    </li>
                    {% if login %}

                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar dropdown menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            My Account
                        </a>
                        <!-- Dropdown menu items -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item">TODO</a> <!-- TODO --> <!-- My profile -->
                            <a class="dropdown-item">TODO</a> <!-- TODO --><!-- Settings -->
                            <a class="dropdown-item" href="/logout">Log out</a> <!-- TODO --><!-- Log out -->
                        </div>
                    </li>
                    {% else %}

                    <!-- Whitespace & Separator -->
                        <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>

                        <!-- Navigation bar items -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"><strong><i class="fa fa-address-card"></i> Log in</strong></a>
                        </li>

                        <!-- Whitespace & Separator -->
                        <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>

                        <!-- Navigation bar items -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}"><strong><i class="fa fa-id-badge"></i> Register Now!</strong></a><!-- TODO -->
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
        </nav>
    </div>
    {% if login %}
    <div id="login-specific">
    </div>
    {% else %}
    <div id="non-login-user">
    </div>
    {% endif %}
</body>
