<!DOCTYPE html>
<html lang="en">
{% comment %}
Author: Elnifio
{% endcomment %}
<head>
    <!-- Declare Website encoding -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Header -->
    <title>#Events Login</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {% load staticfiles %}

    <!-- General Style -->
    {% comment %} <style>
        a:link {text-decoration:none; color: #000000}    /* unvisited link */
        a:visited {text-decoration:none; color: #000000} /* visited link */
        a:hover {text-decoration:none; color: #000000}   /* mouse over link */
        a:active {text-decoration:none; color: #000000}  /* selected link */
    </style> {% endcomment %}

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    {% comment %} <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                
            </div>
        </div>
    </nav> {% endcomment %}
    <div class="container page-header">
        <span style="text-align:center">
            <br />
            <a href="/"> <h2 style="color: rgb(75, 156, 211)"> # Events</h2></a>
            {% comment %} <p> - An Event Hub </p> {% endcomment %}
            <hr />
        </span>
    </div>
    <div class="container page-body">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4 col-0"></div> <!-- This is a separator for the login content-->
            {% comment %} <div class="col-md-8 col-lg-8 col-xl-8 col-12" style="background: rgb(75, 156, 211)"> {% endcomment %}
            <div class="col-md-4 col-lg-4 col-xl-4 col-12">
                <div class="card">
                    <div class="card-header bg-info">
                        <h4 style="text-align: center">Log in to your account</h4>
                        <p id="result">test</p>
                    </div>
                    {% comment %} <div class="card-body" style="text-align:center"> {% endcomment %}
                    <div class="card-body">
                        <form method="get">
                            <div class="form-group">
                                <label for="name">Name: </label>
                                    <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password: </label>
                                    <input type="password" class="form-control" id="pwd">
                            </div>
                            {% comment %} <div class="form-group">
                                <label for="email">Email:</label>
                                    <input type="email" class="form-control">
                            </div> {% endcomment %}
                            <button type="submit" class="btn btn-primary" value="Login" id="auth">Log in</button>
                        </form>
                        
                        <script>
                            $(document).ready(function() {
                                $('#auth').click(function(){
                                    $.getJSON("/auth", function(ret){
                                        // window.alert(ret["status"]);
                                        if (ret.status) {
                                            window.alert("success");
                                        } else {
                                            window.alert("Unsuccess");
                                        }
                                    })
                                })
                            });
                        </script>

                    </div>

                </div>
                {% comment %} <h4>Test content</h4> {% endcomment %}
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-0"></div> <!-- This is a separator for the login content-->
        </div>
    </div>
</body>