<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>unapp Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Bootstrap JavaScript -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
	{% load static %}
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'hub/tag/animate.css' %}">
	{% comment %} <link rel="stylesheet" href="hub/tag/animate.css"> {% endcomment %}
	{% comment %} <link rel="stylesheet" href="css/animate.css"> {% endcomment %}
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'hub/tag/icomoon.css' %}">
	{% comment %} <link rel="stylesheet" href="hub/tag/icomoon.css"> {% endcomment %}
	{% comment %} <link rel="stylesheet" href="css/icomoon.css"> {% endcomment %}
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'hub/tag/bootstrap.css' %}">
	{% comment %} <link rel="stylesheet" href="hub/tag/bootstrap.css"> {% endcomment %}
	{% comment %} <link rel="stylesheet" href="css/bootstrap.css"> {% endcomment %}

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'hub/tag/magnific-popup.css' %}">
	{% comment %} <link rel="stylesheet" href="hub/tag/magnific-popup.css"> {% endcomment %}
	{% comment %} <link rel="stylesheet" href="css/magnific-popup.css"> {% endcomment %}

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'hub/tag/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'hub/tag/owl.theme.default.min.css' %}">
	{% comment %} <link rel="stylesheet" href="hub/tag/owl.carousel.min.css"> {% endcomment %}
	{% comment %} <link rel="stylesheet" href="hub/tag/owl.theme.default.min.css"> {% endcomment %}
	{% comment %} <link rel="stylesheet" href="css/owl.carousel.min.css"> {% endcomment %}
	{% comment %} <link rel="stylesheet" href="css/owl.theme.default.min.css"> {% endcomment %}

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'hub/tag/style.css' %}">
	{% comment %} <link rel="stylesheet" href="hub/tag/style.css"> {% endcomment %}
	{% comment %} <link rel="stylesheet" href="css/style.css"> {% endcomment %}

	</head>
	<body>
		
{% comment %} <div class="colorlib-loader"></div> {% endcomment %}

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div id="colorlib-logo"><a href="/">#Events</a></div>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li class="has-dropdown active">
									<a href="work.html">Works</a>
									<ul class="dropdown">
										<li><a href="work-grid.html">Works grid with text</a></li>
										<li><a href="work-grid-without-text.html">Works grid w/o text</a></li>
									</ul>
								</li>
								<li><a href="services.html">Services</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="shop.html">Shop</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<section id="home" class="video-hero" style="height: 500px; background-image: url({% static 'hub/pictures/display.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
		<div class="overlay"></div>
			<div class="display-t display-t2 text-center">
				<div class="display-tc display-tc2">
					<div class="container">
						<div class="col-md-12 col-md-offset-0">
							<div class="animate-box">
								<h2>{{ tag.tag_name }}</h2>
<!-- Needed to update to the real address -->
								<p class="breadcrumbs"><span><a href="/">#Events</a></span> <span></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="colorlib-work">
			<div class="container">
				<div class="row">
				{% for event in events %}
					<div class="col-md-4 animate-box">
						<div class="work-grid">
							<a href="/detail/{{ event.event_id }}" class="work-img" style="background-image: url({{ event.poster.url }})">
								<span class="icon"><i class="icon-plus2"></i></span>
							</a>
							<div class="desc">
								<h4><a href="/detail/{{ event.event_id }}">{{ event.name }}</a></h4>
								<p>{{ event.date }}<br>{{ event.location }} </p>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="pagination">
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<p>#Events
			</div>
		</footer>
	</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	{% comment %} <!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- YTPlayer -->
	<script src="js/jquery.mb.YTPlayer.min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script> {% endcomment %}

	</body>
</html>

