<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="single-blog-css/core-style.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <div id="global-contents">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-dark">
            <!-- brand icon -->
            <h3><a class="navbar-brand" href="/">#Events</a></h3>

            <!-- Collapse toggle button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible Navigation Bar -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <!-- Navigation bar contents -->
                <ul class="navbar-nav">
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar items -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">TODO</a> <!-- TODO -->
                    </li>
                    
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar items -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">TODO</a><!-- TODO -->
                    </li>
                    
                    <!-- Login content -->
                    <!-- Whitespace & Separator -->
                    <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <!-- Navigation bar dropdown menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            My Account
                        </a>
                        <!-- Dropdown menu items -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item">TODO</a> <!-- TODO --> <!-- My profile -->
                            <a class="dropdown-item">TODO</a> <!-- TODO --><!-- Settings -->
                            <a class="dropdown-item" href="/logout">Log out</a> <!-- TODO --><!-- Log out -->
                        </div>
                    </li>
                    
                    <!-- Not Login content -->
                    <!-- Whitespace & Separator -->
                        <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>

                        <!-- Navigation bar items -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"><strong><i class="fa fa-address-card"></i> Log in</strong></a>
                        </li>

                        <!-- Whitespace & Separator -->
                        <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>

                        <!-- Navigation bar items -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}"><strong><i class="fa fa-id-badge"></i> Register Now!</strong></a><!-- TODO -->
                        </li>
                    
                        <!-- Whitespace & Separator -->
                        <span class="navbar-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    
                        <li class = "nav-item">
                          <input type="text" placeholder="Search..">
                    </li>
                    
                </ul>
            </div>
        </nav>
    </div>
    <!-- ##### Header Area End ##### -->


    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <img src="images/Events/hacknc.jpg" alt="">
        </div>

        <!-- Single Blog Content Wrap -->
        <div class="single-blog-content-wrapper d-flex">

            <!-- Blog Content -->
            <div class="single-blog--text">
                <h2>HackNC Interest Meeting</h2>
                <p>Want to help organize the largest hackathon in North Carolina, reaching over 650 students annually? Interested in developing innovative tech experiences, graphic design, marketing, sponsorship, or finance? HackNC is hosting an open call for organizers and leaders of all disciplines for our 7th year straight! Come out to SN014 (Sitterson Hall) from 6:30-7:30 PM on Tuesday, Feb. 11th to hear current board members and leaders of HackNC discuss how YOU can get involved with organizing HackNC 2020! We will be presenting open roles, positions, and committees. FREE PIZZA will be provided! 
                </p>
                <blockquote>
                    <h6><i class="fa fa-quote-left" aria-hidden="true"></i> Free Food Provided!</h6>
                    <!-- <span>Liam Neeson</span> -->
                </blockquote>
                <blockquote>
                    <h6><i class="fa fa-quote-left" aria-hidden="true"></i> <a href="https://www.facebook.com/events/174670413807004">REVP Here! </a></h6>
                </blockquote>

                <p><a href="TODO">Go Back </a></p>
            </div>

            <!-- Related Blog Post -->
            <div class="related-blog-post">
                <!-- Single Related Blog Post -->
                <div class="single-related-blog-post">
                    <img src="images/Events/0203.png" alt="">
                    <a href="#">
                        <h5>Google Cloud Hero Workshop</h5>
                    </a>
                </div>
                <!-- Single Related Blog Post -->
                <div class="single-related-blog-post">
                    <img src="images/Events/0203-2.jpg" alt="">
                    <a href="#">
                        <h5>Where Natural Language Processing Meets Societal Needs</h5>
                    </a>
                </div>
                <!-- Single Related Blog Post -->
                <div class="single-related-blog-post">
                    <img src="images/Events/0204.png" alt="">
                    <a href="#">
                        <h5>US Undergraduate Research Workshop</h5>
                    </a>
                </div>
                <!-- Single Related Blog Post
                <div class="single-related-blog-post">
                    <img src="images/Events/0204.png" alt="">
                    <a href="#">
                        <h5>Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor</h5>
                    </a>
                </div> -->
            </div>

        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer>
        <div class="container">
            <p>#Events
        </div>
        
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>